<title>VisReg | About</title>

<div class="about-container">
  <h2>About Our Company</h2>
  <br>
  <p class="about-p">
    eSolution Architects, Inc. a privately held, minority- and veteran-owned company founded in 2005 and headquartered in Montgomery, Alabama. eSA is a U.S. Small Disadvantaged Business certified since January 2009. Our company strives to deliver the products, services, and solutions to our clients across diverse business disciplines, accelerating the "time to value" of all technology investments. We also specialize in high-value services, focused primarily on server virtualization and consolidation and IT product installation, management, and support. eSA is a company founded on the principle of providing our clients with the best-possible technologies intended to provide tangible benefits to business practices and cost efficiencies.
  </p>
  <p class="about-p">
    In the ever-changing landscape of the technology industry, highly engineered, broadly focused products no longer control the market. Customers are now demanding low-cost solutions that can evolve after the initial sale to meet future anticipated and unanticipated functional needs. Additionally, strong competition resulting from shorter product life cycles and new business models is driving companies to utilize technology to discover and eliminate operational inefficiencies. eSolution Architects understands the changing technology industry and that customers can no longer rely on generic products and services designed to meet a broad spectrum of needs.
  </p>
  <p class="about-p">
    eSolution Architects is dedicated to delivering solutions that are tailored to the specific challenges our clients face by providing technical expertise grounded in pragmatic realities and requirements, helping their businesses run in the most practical, efficient manner possible. To meet our clients' needs, eSA consultants have over 100 years of experience in the technology industry, including application development, systems integration, project management, and services and support. Our
    company is staffed with seasoned veterans–trained and skilled in the products our company supplies, integrates, and supports. eSA is committed to delivering innovation–collaborating with our clients, assisting them in leveraging high-tech solutions developed with an insight to customer-specific business needs, allowing for increased efficiency, reduced costs, and greater revenue generation.
  </p>
  </p>
</div>
<div class="esalogo">
  <img class="esalogo-img" src="images/esalogo.png">
</div>
