<title>VisReg | FAQ</title>

<h2>Frequently Asked Questions</h2>

<br>

<div class="faq">
  <div id="accordion">
    <h3>Basics</h3>
    <br>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            First Time Login
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          Use the Username and Password you registered on the WebApp.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Signing in New Visitors
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          1. From the Home screen, select the sign-in option.
          </p>
          <br>
          <p>
          2. To sign-in visitors, choose the corresponding option once you click sign-in.
          </p>
          <br>
          <p>
          <img src="/images/card.gif" alt="card" class="cardgif">
          </p>
          </br>
          <p>
          3.You may manually enter the information, or scan a business card to create a user profile. (Note: Only the name is required to continue, all other information may be added at a later date.)
          </p>
          <br>
          <p>
          4. Provide a reason for the visitor sign-in. (Note: All New and Existing visitors require a reason for them to be signed into the system.)
          </p>
          <br>
          <p>
          5. Take a picture of the visitors business card to pull any relevant data about them, plus adding that card to the system.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Signing in Exisiting Visitors
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          1. From the home screen, select Sign-in.
          </p>
          <br>
          <p>
          2. Select a profile that has already been established, and enter the reason for their visit.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Signing in Multiple visitors
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
            1. To sign-in multiple users, navigate to the Sign-in screen and click “Select Multiple”.
          </p>
          <br>
          <p>
          2. Select all the profiles you wish to sign-in.
          </p>
          <br>
          <p>
          3. Provide a reason for the sign-in and select the sign-in option.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Signing out Visitors
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>1. Navigate to the sign-in/sign-out screen.</p>
          <br>
          <p>
          2. Select the sign out option and select the user you wish to sign out.
          </p>
          <br>
          <p>
          3. Click confirm and that user will be signed out.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Viewing a Visitors Profile/Editing
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          1. A profile can be viewed by either selecting the user in the home screen, or selecting sign-in and viewing the profile from any recent visits.
          </p>
          <br>
          <p>
          2. A profile picture may be added by clicking the blank face in the top left corner. You will be prompted to take a picture with the front camera.
          </p>
          <br>
          <img src="/images/card2.gif" alt="Responsiveimage" class="cardgif">
          <br>
          <p>
          3. A business card may be added later after profile creation by selecting the “Scan Business Card” option in top middle of the page.</p>
          <br>
          <p>
          4. You will have the option to overwrite existing data, or to take the picture anyway.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Customize the App
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          1. Select the cog in the top right corner of the home screen and use your access pin.
          </p>
          <br>
          <p>
          2. To add a custom logo, give the app access to your photos and select the picture you would wish to use for a logo.
          </p>
          <br>
          <p>
          3. To add a custom color, select from the given palette or type in the correct hexadecimal code.
          </p>
          <br>
          <p>
          4. Select the “Reset to Default Settings” option to return the colors and logo to default.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Registering an Account
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
            1. To register an account select “Register an account” and follow the on-screen instructions. (Make sure to make a pin you will remember, for this is the only way to edit the iOS app settings.)
          </p>
          <br>
          <p>
            2. You must confirm your code via email to have access and log in.
          </p>
          <br>
          <p>
            3. To re-send a confirmation code, select the “Resend Confirmation Code” option under the login box.
          </p>
          <br>
        </div>
      </div>
    </div>
    <br>
    <h3>Account</h3>
    <br>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            Logging in
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          1. To log in simply enter the uer e-mail you selected and the password.
          </p>
          <br>
          <p>
          2. Once you are logged in you will have access to the analytics and information gathered in the iOS app.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Viewing iOS app information
          </button>
        </h5>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>
          1. When you are logged in, you will have historical access to visitor sign-in and sign outs.( You will also have access to a list of all visitors)
          </p>
          <br>
          <p>
          2. To access a visitors’ profile, go to the “Registered Visitors” tab.
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeventeen">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
            How do I get an account for the iOS app?
          </button>
        </h5>
      </div>
      <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Registration for an account can be done via the WebApp online.</p>
          <br>
        </div>
      </div>
    </div>
    <br>
    <h3>FAQ</h3>
    <br>
    <div class="card">
      <div class="card-header" id="headingEleven">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            How do I log into the app?
          </button>
        </h5>
      </div>
      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>	Use the email/username and password you registered online to log into the iOS App. </p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwelve">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
            How do I recover a lost password/forgotten pin?
          </button>
        </h5>
      </div>
      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>All forgotten passwords/lost pins or access can be recovered via the web app.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThirteen">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
            Can I get the iOS app from the web app?
          </button>
        </h5>
      </div>
      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Currently none of the features of the iOS app are editable from the web app</p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFourteen">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
            What features are currently editable in the iOS app?
          </button>
        </h5>
      </div>
      <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>Currently the button font, button background, bottom right color of background gradience, and top left color of background gradience can be customized.</p>
          <br>
          <p>These features cannot be accessed via the web app.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFifteen">
        <h5 class="mb-0">
          <button id="faqbutton" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
            What size logo can be used in the iOS app setting?
          </button>
        </h5>
      </div>
      <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
        <div class="card-body">
          <br>
          <p>A logo must have a size of 200 x 100 pixels and be less than 15 MB</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
