<title>VisReg | Features</title>

<h2>Product Features</h2>

<style type="text/css">
  p{
    font-size: 1.1em;
  }
</style>

<div class="features-container">

  <div class="feature">

    <div class="text-f-1">
      <h3>Multiple User Sign-In</h3>
      <p>VisReg allows for multiple users to sign in simultaneously to allow ease of building access and efficieny in the app usage process. These multiple users can sign out together or sign out sepereately.</p>
    </div>

    <div class="image-f-1">
      <img id="featureimg" src="images/multisign.png" alt="f1">
    </div>

  </div>

  <div class="feature">

    <div class="text-f-2">
      <h3>Card Scanning Capabilities</h3>
      <p>We have coupled cutting edge computer vision technology to scan your bisness card and pull all of the information for signing a guest in without the hassle of typing it in themselves.</p>
    </div>

    <div class="image-f-2">

      <img id="featureimg" src="images/cardscan.png" alt="f2">
    </div>

  </div>

  <div class="feature">

    <div class="text-f-3">
      <h3>High Customization Abilities</h3>
      <p>VisReg allows fo many customization capabilities to perfectly fit the needs of your office or home. We allow the change of the logo and the change of the colors that make up the app theme.</p>
    </div>

    <div class="image-f-3">
      <img id="featureimg" src="images/customize.png" alt="f3">
    </div>

  </div>

</div>
